
@{
    ViewBag.Title = "Research Areas";
}
<h2>@ViewBag.Title</h2>

<p>Details of our Research Areas, Publications, Conferences and Submissions.</p>
<p><a class="btn-link" href="http://www.sitpune.edu.in/Research_Publication.php"> Latest Research Areas & Trends Glimpse &raquo;</a></p>
