@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


<p>The Institute endeavors to provide quality technical education in line with the requirements of today's competitive industry and fast paced technological developments.For more information visit our website.</p>
<p><a class="btn-link" href="http://www.sitpune.edu.in/"> Symbiosis Institute Of Technology &raquo;</a></p>