@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Symbiosis University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Symbiosis Institute of Technology</h2>
        <p>
            Symbiosis University is a world-leading centre of learning, teaching and research and among one of the universities in the world which is known for its Excellence.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Organisation of University</h2>
        <p>Explore the Structure and Governance of University.</p>
        <p><a class="btn btn-default" href="http://www.sitpune.edu.in/about_us.php">Explore Inside &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Campus Life</h2>
        <p>Explore to become a part of this Amazing Campus Life.</p>
        <p><a class="btn btn-default" href="http://www.sitpune.edu.in/Life_at_SIT.php">Life on Campus Flash &raquo;</a></p>
    </div>
</div>